
 .btn1{
    width: 140px;
    height: 40px;
    padding: 10px 19px;
    text-align: center;
    align-content: center;
    gap: 10px;
    background-color: #f0f0f0;
    color: rgb(100, 99, 99);
    border: none;

    border-radius: 10px;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    transition: 0.2s;
}
.btn1:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(220, 220, 220);
}
.slider{
    gap: 10px;
    height: 70px;
    justify-content: center;
    margin-top: 20px;

}
@media only screen and (max-width: 1230px){
    .btn1{
        width: 125px;
        height: 40px;
        padding: 10px 18px;
        text-align: center;
        align-content: center;
        gap: 9px;
        background-color: #f0f0f0;
        color: rgb(100, 99, 99);
        border: none;
    
        border-radius: 10px;
        display: flex;
        font-size: 10px;
        font-weight: 500;
        transition: 0.2s;
    }

}